

{% extends 'TroiswaPublicBundle:Main:index.html.twig' %}

{% block test %}
Salut
<a href="{{ path('troiswa_public_homepage') }}"> Page de test </a>


{% endblock %}

{% block test3 %}

<link href="bonjour.html.twig">
{% endblock %}
