[Desktop Entry]
Encoding=UTF-8
Name=Lien vers http://www.babelio.com/users/QUIZ_Les-fleurs-et-la-litterature_9812.jpeg
Type=Link
URL=http://www.babelio.com/users/QUIZ_Les-fleurs-et-la-litterature_9812.jpeg
Icon=image-jpeg
Name[fr_FR]=image.jpeg
