[Desktop Entry]
Encoding=UTF-8
Name=Lien vers http://www.lalitiereduchat.fr/img/markets/logo_truffaut.jpg
Type=Link
URL=http://www.lalitiereduchat.fr/img/markets/logo_truffaut.jpg
Icon=image-jpeg
Name[fr_FR]=truffaut.jpg
